.contact-map-container {
  display: flex; /* Make it flexbox */
  justify-content: space-between; /* Push items apart */
  align-items: center; /* Align vertically */
  gap: 20px; /* Space between elements */
  flex-wrap: wrap; /* Make it responsive */
  margin-top: 40px;
  padding-left: 60px;
}

/* Contact Info on Left */
#contact-info {
  flex: 1;
  min-width: 300px;
}

/* Map on Right */
.map-container {
  flex: 1;
  max-width: 400px;
  min-width: 300px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  filter: grayscale(100%);
}
strong {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 30px;
  display: block;
}
p {
  font-size: 20px;
  padding: 40px 0;
}
.custom-line {
  border: none;
  height: 3px; /* Thicker */
  background-color: #333; /* Full black */
  width: 100%;
  margin-top: 20px;
  opacity: 1; /* Ensure full opacity */
}

.contact-form {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
}
.contact-form h3 {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-label {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

