video {
    width: 100%;  /* Full window height */
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1; /* Sends the video to the background */

}
body {
height: 4000px;
z-index: -2;
}

